body {
    background-color: #182139;
    color: #c7c7c7;
}
nav{
	background: #313852;
}
.jumbotron{	
	padding: 1rem 1rem;
}
.main-body{
	margin: 0 2%;
}
div.card-body i,div.card-body h3,div.card-body p{
	color: #fff;
	display: block;
	text-align: center;
}
.bg-dark-gradient {
    background: linear-gradient(230deg, #293134, #4b595f) !important;
    color: white ;
}
.bg-danger-gradient {
    background: linear-gradient(230deg, #ff4444, #ff9191) !important;
    color: white !important;
}
.bg-primary-gradient {
    background: linear-gradient(230deg, #26A69A, #44d4c7) !important;
    color: white !important;
}
.bg-secondary-gradient {
    background: linear-gradient(230deg, #aa66cc, #ca9fdf) !important;
    color: white !important;
}
.bg-info-gradient {
    background: linear-gradient(230deg, #33b5e5, #77ceee) !important;
    color: white !important;
}
.bg-warning-gradient {
    background: linear-gradient(230deg, #ffbb33, #ffd580) !important;
    color: white !important;
}
tr:nth-child(2n+1) {
  background: #313852 !important;
}
tr:nth-child(2n) {
  background: #394451 !important;
}
#table-card{
	background: #313852;
    border-color: #444e72;
}

body .form-control, body .swal-modal input.swal-content__input, .swal-modal body input.swal-content__input {
    background: #313852;
    border-color: #454c66 !important;
    color: #c3c3c3;
}
body .page-item.disabled .page-link {
    background-color: #272e48;
    border-color: rgba(240, 240, 240, 0.12);
    color: inherit;
}

body .page-link {
    background-color: inherit;
    color: inherit;
    border-color: rgba(240, 240, 240, 0.12);
}
}
.table-bordered {
    border: 1px solid rgba(152, 164, 185, 0.25);
}
body table {
    color: #c7c7c7;
    border: 1px solid #454d54 !important;
}
/*td{
	border:  !important;
}*/
table.dataTable{
	border-collapse: collapse !important;
}
#tbval_filter{
	float:right;
}
.top{
	padding: 15px 0;
}
table tr td img{
	width: 29%;
    margin: 0 18% 0 0;
}
#regions-card{
	padding: 25px;
	background: #313852;
}


.breaking_news {
  float:left;
  width:100%;
  font-family: arial;
  font-size: 14px;
  margin-bottom:10px;
}
.border_hl {
  width: 936px;
  padding:1px;
  background-color: #D6002A; /* gold */
  /* Single pixel data uri image http://jsfiddle.net/LPxrT/ 
  /* background-image: gold, gold, white */
  background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAANYAKv///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=='),  url('data:image/gif;base64,R0lGODlhAQABAPAAANYAKv///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=='),
url('data:image/gif;base64,R0lGODlhAQABAPAAAP///////yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==');
  background-repeat: no-repeat;
  background-size: 0 2px, 0 100%, 0% 2px;
  background-position: top center, top center, bottom center;
  -webkit-animation: drawBorderFromCenter 4s infinite;
}
.label {
  float:left;
  padding:6px 15px;
  background:#D6002A;
  color:#FFF;
  width: 20%;
  font-weight: bold;
  text-transform: uppercase;
}
.news_title {
  padding:5px 10px;
  float:left;
  background:#FFF;
  width:80%;
  border:1px solid #CCC;
}

/* Ripple magic */
.ripple {
  position: relative;
  overflow: hidden;
}

.ripple:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px;
  height: 5px;
  background: rgba(255, 255, 255, .5);
  opacity: 0;
  border-radius: 100%;
  transform: scale(1, 1) translate(-50%);
  transform-origin: 50% 50%;
}

@keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }
  20% {
    transform: scale(25, 25);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(40, 40);
  }
}

.ripple::after {
  animation: ripple 1.5s ease-out  infinite;
}


/* Borderr Highlight Effect */

/* Chrome, Safari, Opera */
@-webkit-keyframes drawBorderFromCenter {
    0% {
      background-size: 0 2px, 0 0, 100% 100%;
    }
    20% {
      background-size: 100% 2px, 100% 0, 100% 100%;
    }
    66%
    {
      background-size: 100% 2px, 100% 98%, 100% 100%;
    }
    99%
    {
      background-size: 100% 2px, 100% 98%, 0 2px;
    }
}
.navbar-nav,
.mr-auto {
flex: 1;
margin: auto !important;
display: flex;
justify-content: space-between;
color: #fff;
}
nav a{
	color: #fff;
}
nav .india{
      font-size: 20px;
    color: #fff;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .label{
  	width:40%;
  }
  .news_title{
  	width: 60%;
  }
}